<%= form_for([@list,@task_temp]) do |f| %>
  <% if task_temp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_temp.errors.count, "error") %> prohibited this task_temp from being saved:</h2>

      <ul>
      <% task_temp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion  %>:
    <%= f.text_area :descripcion %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= select(:task_temp,:estado,[["Pendiente","pendiente"],["Hecha","hecha"],["Expirada","expirada"]]) %>

  </div>

  <div class="field">
    <%= f.label :prioridad %>
    <%= select(:task_temp,:prioridad,[["Alta",1],["Media","media",2],["Baja",3]]) %>
  </div>
 
  <div class="field">
    <%= f.label :fecha_inicio_validez %>
    <%= f.date_select :fecha_inicio_validez %>
  </div>

  <div class="field">
    <%= f.label :fecha_fin_validez %>
    <%= f.date_select :fecha_fin_validez %>
  </div>
 

  <div class="actions">
    <%= f.hidden_field :type, :value =>"TaskTemp"%>
    <%= f.hidden_field :list_id, :value =>@list.id%>
    <%= f.submit %>
  </div>
<% end %>

