<%= form_for([@list,task]) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion  %>:
    <%= f.text_area :descripcion %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= select(:task,:estado,[["Pendiente","pendiente"],["Hecha","hecha"]]) %>

  </div>

  <div class="field">
    <%= f.label :prioridad %>
    <%= select(:task,:prioridad,[["Alta",1],["Media","media",2],["Baja",3]]) %>
  </div>
 <!--
  <div class="field">
    <%= f.label :fecha_inicio_validez %>
    <%= f.date_select :fecha_inicio_validez %>
  </div>

  <div class="field">
    <%= f.label :fecha_fin_validez %>
    <%= f.date_select :fecha_fin_validez %>
  </div>
 -->

  <div class="field">
    <%= f.label :porcentaje_avance %>
    <%= f.number_field :porcentaje_avance %>
  </div>
 
  

  <div class="actions">
    <%= f.hidden_field :type, :value =>"TaskTemp"%>
    <%= f.submit %>
  </div>
<% end %>
