<%if !@tasks.empty? %>
  <h2>Tareas</h2>
<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.descripcion %></td>
        <td><%= task.type %></td>
        <td><%= link_to 'Show', [@list,task] %></td>
        <td><%= link_to 'Edit' ,[:edit,@list,task] %></td>
        <td><%= link_to 'Destroy', list_task_path(@list,task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
   <h2>
     No hay tareas
   </h2>
<% end -%>