<p id="notice"><%= notice %></p>

<h1>Task Longs</h1>

<table>
  <thead>
    <tr>
      <th>Porcentaje avance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_longs.each do |task_long| %>
      <tr>
        <td><%= task_long.porcentaje_avance %></td>
        <td><%= link_to 'Show', list_task_long_path(@list,task_long) %></td>
        <td><%= link_to 'Edit', edit_list_task_long_path(@list,task_long) %></td>
        <td><%= link_to 'Destroy',list_task_path(@list,task_long), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', @list %>

